DerivedDataCache
Intermediate
Saved
Script
**/Essential_Pickup_Sounds1
**/FootstepAndFoleySounds
**/TWSFX_FS_CarpetHard1
**/TheSoundsOfSqueaks
**/modulardoors
**/HorrorSoundsPack
**/Door_Sounds_Pack
**/TEMP
**/VO_Recordings_Raw